<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Ei löydy</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Ei löytynyt tälläistä sivua.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
